<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>In-Game</title>

    <link rel="stylesheet" href="{% static 'CSS_styles/styles.css' %}">

    <style>

        .container img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .talk {
            position: absolute;
            bottom: 5%;
            left: 75%;
        }

        .back {
            position: absolute;
            bottom: 20%;
            left: 37%;
        }

    </style>
</head>

<body>
    <div class="container">

        <img src="{% static 'images/boss_area.jpg' %}" alt="boss area background" />

        <div class="talk">
            <a href="{% url 'rango:boss_talk' %}" class="buttons">Talk</a>
        </div>

        <div class="back">
            <a href="{% url 'rango:updated_play' %}" class="buttons">Go back</a>
        </div>

        <div class="time">Time left: -somehow add time-</div>

        <div class="money">Money: 0 💰</div>

        <div class="health">
            <div class="health-bar-background"></div>
            <div class="health-bar"><span>100/100</span></div>
        </div>

        <div class="stats">
            <p>Stats</p>
            <p>Attack: 10</p>
            <p>Block: 10</p>
            <p>Agility: 10</p>
        </div>
    </div>
</body>
</html>
