<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>Homepage</h1>
        <div>
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/achievements/">Achievements</a><br />
            <a href="/rango/play/">Start Game</a><br />
            <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
        </div>
    </body>
</html>